.account {
    padding: 40px;
    padding-top: 20px;
    .posts-list {
        max-width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        .posts {
            width: 640px;
            margin-right: 10px;
            .create-post-nav {
                margin-bottom: 30px;
                .MenuItemPost {
                    width: 70%;
                }
            }            
            .post-list {
                .account-community-post {
                    .container {
                        display: flex;
                        .like_dislike {
                            width: 40px;
                            margin-bottom: 12px;
                            align-items: center;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: column;
                            left: 0;
                            padding: 8px 4px 8px 0;
                            position: relative;
                            top: 0;
                            background-color: white;
                        }
                        .content {
                            width: 600px;
                            flex-grow: 1;
                            margin-bottom: 12px;
                        }
                    }
                }
                .card {
                    background-color: #DAE0E6;
                }
                .ant-card-head-title {
                    span {
                        cursor: pointer;
                    }
                }
                .ant-list-pagination {
                    text-align: center;
                    
                }
                padding-bottom: 40px;
            }
        }
        .personal {
            width: 310px;
            margin-left: 10px;
            .personal_card {
                .css-header {
                    background-color:#33A8FF;
                    border-radius:4px 4px 0 0;
                    height: 94px;
                    left: 0;
                    top: 0;
                    position: absolute;
                    width: 100%;
                }
                margin-bottom: 12px;
            }
            .personal-post-card {
                margin-bottom: 12px;
                .ant-list-header {
                    padding-top: 0px;
                }
                .ant-card-body {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
            .personal-community-card {
                .ant-list-header {
                    padding-top: 0px;
                }
                .ant-card-body {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .account {
        .posts-list {
            display: inline;
            position: relative;
            float: left;
            .posts{
                width: 100%;
            }
            
            .personal {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .account {
        .posts-list {
            .posts {
                .create-post-nav {
                    display: none;
                }
            }
            
        }
    }
}