.communitypost {
    padding: 40px;
    padding-top: 20px;

    .masonry-card-grid {
        display: flex;
        width: 100%;
        float: left;
        .nested-section {
            width: 70%;
            .create-post-nav {
                margin-bottom: 30px;
                .MenuItemPost {
                    width: 75%;
                }
            }
            .post-card {
                .ant-list-pagination {
                    text-align: center;
                }
                padding-bottom: 40px;
            }
        }
        
        .about-card {
            width: 30%;
            margin-left: 20px;
            .description {
                .edit-delete{
                    .edit{
                        margin-right: 5px;
                    }
                    .delete{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .communitypost {
        .masonry-card-grid {
            display: inline;
            position: relative;
            float: left;
            .nested-section {
                width: 100%;
                .create-post-nav {
                    width: 100%;
                    .MenuItemPost {
                        width: 30%;
                    }
                    .MenuItemImage {
                        width: 30%;
                    }
                    .MenuItemImage {
                        width: 30%;
                    }
                }
            }
            
            .community-card {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .communitypost {
        .masonry-card-grid {
            .nested-section {
                .create-post-nav {
                    width: 50px;
                }
            }
            
        }
    }
}