.communitypost {
    padding: 40px;
    padding-top: 20px;
    .masonry-card-grid {
        max-width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        .nested-section {
            width: 640px;
            .create-post-nav {
                margin-bottom: 20px;
                .MenuItemPost {
                    width: 70%;
                }
            }
            .post-card {
                .post-list {
                    .content {
                        margin-bottom: 14px;
                    }
                }
                .ant-list-pagination {
                    text-align: center;
                }
                padding-bottom: 40px;
                
                .container {
                    display: flex;
                    .like_dislike {
                        width: 40px;
                        margin-bottom: 12px;
                        align-items: center;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        left: 0;
                        padding: 8px 4px 8px 0;
                        position: relative;
                        top: 0;
                        background-color: white;
                    }
                    .content {
                        width: 600px;
                        flex-grow: 1;
                        margin-bottom: 12px;
                    }
                }
            }
        }
        
        .about-card {
            width: 312px;
            margin-left: 20px;
            .description {
                .edit-delete{
                    .edit{
                        margin-right: 5px;
                    }
                    .delete{
                        margin-left: 5px;
                    }
                }
            }
            
            .directory {
                margin-top: 12px;
                max-height: 100%;
                width: 312px;
                display: block;
                .column {
                    float: left;
                    width: 50%;
                    .link {
                        color: black;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .communitypost {
        .masonry-card-grid {
            .nested-section {
                min-width: 300px;
                overflow:hidden;
                .create-post-nav {
                    min-width: 300px;
                    overflow:hidden;
                    margin-bottom: 10px;
                }
            }
            
            .community-card {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .communitypost {
        .masonry-card-grid {
            .nested-section {
                min-width: 400px;
                overflow:hidden;
                .create-post-nav {
                    min-width: 400px;
                    overflow:hidden;
                    margin-bottom: 10px;
                }
            }
            .about-card {
                display: none;
            }
        }
    }
}