.createpost {
    padding: 40px;
    padding-top: 80px;

    .ant-card-head {
        background-color:rgb(246, 247, 248);
    }

    .ant-card-body {
        .ant-menu-horizontal {
            margin-bottom: 20px;
        }
        .ant-input-affix-wrapper-textarea-with-clear-btn {
            margin-bottom: 20px;
            height:40vh;
        }

        /*
        .ant-input {
            margin-left: 5px;
        }
        */

        .ant-btn-primary {
            float: right;
        }

        .form {
            .uploadButton {
                margin-bottom: 15px;
            }
            .image-item {
                .image-item__btn-wrapper {
                    margin-bottom: 15px;
                    .update {
                        margin-right: 10px;
                    }
                    .remove {
                        margin-left: 10px;
                    }
                }
                .preview-image {
                    //display: "block", margin: "0 auto", border: "2px solid grey", maxWidth: "100%"
                    display: block;
                    margin: 0 auto;
                    border: 2px solid grey;
                    max-width: 100%;
                }
            }
        }

        .ant-dropdown-button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        
    }
}