.editpost {
    padding: 40px;
    padding-top: 80px;

    .editpost-card {
        .updated_at {
            font-weight: bold;
            float: left;
            padding-top: 0px;
        }
        .community {
            font-weight: bold;
            float: right;
            padding: 0px;
        }
        .clear {
            clear: both;
        }
    }

    .ant-card-head {
        background-color:rgb(246, 247, 248);
    }

    .ant-card-body {
        .ant-menu-horizontal {
            margin-bottom: 20px;
        }
        .ant-input-affix-wrapper-textarea-with-clear-btn {
            margin-bottom: 20px;
            height:40vh;
        }
        /*
        .ant-input {
            margin-left: 5px;
        }
        */

        .ant-btn-primary {
            float: right;
        }

        .image-item { 
            .image-item__btn-wrapper {
                .ant-btn {
                    margin-right: 20px;
                }
            }
        }
        
        .ant-dropdown-button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
    }
    
    .logged-in {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .redirect {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}